body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.admin-login-container {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px;
    width: 400px;
    text-align: center;
}

.admin-login-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.admin-login-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
    text-align: left; /* Adjusted to left-align labels */
}

.admin-login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: left; /* Adjusted to left-align input fields */
}

.admin-login-button {
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.admin-login-button:hover {
    background-color: #0056b3;
}



.admin-login-buttons , .admin-login-label {
    text-align: center;
  }


