body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.form-title {
  text-align: center;
  color: #333;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-buttons {
  text-align: center;
}

.form-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}


.login-link {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
}

.login-link:hover {
  text-decoration: underline;
}

/* Style for Admin Login button */
.form-button[name="AdminLogin"] {
  background-color: #dc3545;
}

.form-buttons , .form-label {
  text-align: center;
}

.form-button[name="AdminLogin"] {
  margin: 0 auto;
  display: block;
}