<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Vendor1_CustomerFeedback::customer_feedback" 
        title="Customer Feedback" module="Vendor1_CustomerFeedback" 
        sortOrder="100" parent="Magento_Customer::customer"
        action="customerfeedback/index/index"
        resource="Vendor1_CustomerFeedback::customer_feedback"
        />
    </menu>
</config>

