<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Vendor1_Dump::menu" title="Dump" sortOrder="10">
                    <resource id="Vendor1_Dump::menu_item" title="Config Files" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
