<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
   <menu>
        <add id="Vendor1_Dump::menu"
           title="Dump" module="Vendor1_Dump"
           sortOrder="10"
           resource="Magento_Backend::content"
           />

        <add id="Vendor1_Dump::menu_item"
           title="Config Files" module="Vendor1_Dump"
           sortOrder="10" parent="Vendor1_Dump::menu"
           action="dump/index/index"
           resource="Vendor1_Dump::menu_item"
           />
   </menu>
</config>