body {
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }

 

  .stars{
    display:flex;
    justify-content: center;
    padding:30px;
  }
  
  #comment-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

textarea {
    width: 250px;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}
    

button {
    width:250px;
    display:block;
    background-color: #4CAF50;
    font-size: 15px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center; 
    display: inline-block; /* Display as inline block */
    margin:5px;
    border-radius: 5px; /* Rounded corners */
  }

  table{
    width: 40%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 10px;
    background-color:#DFCCFB;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
  }
  th{
    height: 30px;
    border:1px solid white;
  }
  
  td{
    border:1.5px solid white;
  }