<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
   <menu>
        <add id="Vendor1_MenuCreation::menu"
           title="Vetri Menu" module="Vendor1_MenuCreation"
           sortOrder="10"
           resource="Magento_Backend::content"
           />

        <add id="Vendor1_MenuCreation::menu_item"
           title="Vetri Items" module="Vendor1_MenuCreation"
           sortOrder="10" parent="Vendor1_MenuCreation::menu"
           action="menucreation/index/index"
           resource="Vendor1_MenuCreation::menu_item"
           />
   </menu>
</config>